streamlit==1.46.1

langchain==0.3.26
langchain-community==0.3.27
langchain-qdrant==0.2.0
langchain-google-genai==2.1.8

qdrant-client==1.15.1

sentence-transformers==5.0.0
transformers==4.53.2

torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

python-dotenv==1.1.1
pypdf==5.8.0
docx2txt==0.9
beautifulsoup4==4.13.4

protobuf==5.29.5
pydantic==2.11.7

langchain-groq